.container {
  width: 100%;
  height: 100dvh;

  box-sizing: border-box;

  padding: 0;

  background-color: #f5f7fa;

  border: 10px solid red;
  box-shadow: inset 0 0 0 15px orange;

  position: relative;

  /* O mapa 3D não deve sair da tela */
  overflow: hidden;
}

.title {
  color: #333;

  margin-bottom: 10px;

  text-align: center;

  font-size: 2.5rem;
}


.buttonContainer {
  display: flex;
  flex-direction: column;

  gap: 15px;

  align-items: center;

  width: 100%;
  max-width: 300px;

  margin-top: 20px;
}

.containerVoltar {
  position: absolute;

  top: 25px;
  left: 45px;

  z-index: 1000;
}


.buttonVoltar {
  background-color: transparent;

  border: none;

  cursor: pointer;

  zoom: 0.9;

  outline: none;

  position: absolute;

  top: 0;
  left: 0;
}


.buttonVoltar img {
  width: 28px;
  height: 28px;

  display: block;

  transition: filter 0.2s ease;
}


.containerSettings {
  position: absolute;

  top: 25px;
  right: 45px;

  z-index: 1000;
}


.buttonSettings {
  background-color: transparent;

  border: none;

  cursor: pointer;

  zoom: 0.9;

  outline: none;
}


.buttonSettings img {
  width: 28px;
  height: 28px;

  display: block;

  transition: filter 0.2s ease;
}


.containerInfo {
  position: absolute;

  top: 25px;

  z-index: 1000;
}


.buttonInfo {
  background-color: transparent;

  border: none;

  cursor: pointer;

  zoom: 0.9;

  outline: none;

  padding-right: 20px;
}


.buttonInfo img {
  width: 28px;
  height: 28px;

  display: block;

  transition: filter 0.2s ease;
}
.buttonTopo{
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 65px;
  height: 65px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

/* celularthingmabobo */

@media (max-width: 600px) {

  .title {
    position: absolute;

    bottom: 15px;
    left: 15px;

    width: calc(100% - 30px);

    font-size: 2.5rem;

    margin: 0;

    padding: 10px 0;

    background-color: #f5f7fa;

    z-index: 100;

    text-align: center;

    box-sizing: border-box;
  }


  .containerVoltar {
    left: 25px;
    top: 20px;
  }


  .containerSettings {
    right: 25px;
    top: 20px;
  }
  .buttonTopo{
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 65px;
    height: 65px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }
}